.header--site__menu {
  width: 100%;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: 0.2s ease all;

  &.active {
    opacity: 1;
    padding-top: $size-base;
    padding-bottom: $size-base;
    max-height: 100vh;
    overflow: scroll;
    // background-color: rgba($color-rotate-bkgd-lighter, 0.8);
  }

  &__items {
    @include bp(sm) {
      @include grid;
    }
    list-style-type: none;
    padding-left: 0;
  }

  &__item {
    @include bp(sm) {
      @include cell($size: half);
    }
    @include bp(md) {
      @include cell($size: third, $is_first: false);
    }
  }

  &__item a {
    @include meta($color-text-vlight);
    display: block;
    padding: $size-sml 0;
    @include upperspace;

    &:hover {
      text-decoration: underline;
    }
  }

  .current-menu-item {
    color: $color-accent-light;
    font-weight: $font-weight-strong;
    text-decoration: underline;
  }

}

.menu-link span {
  transition: all 0.05s ease-in-out;
  width: 30px;
  height: 3px;
  display: block;
  background: rgba($color-rotate-text, 0.8);
  margin: 0 0 5px 0;
}

.menu-link span:last-child {
    margin:0;
}

.menu-link.active span:nth-of-type(1) {
  transform: rotate(45deg);
  margin: 10px 0 0 0;
}

.menu-link.active span:nth-of-type(2) {
  opacity:0;
}

.menu-link.active span:nth-of-type(3) {
  transform: rotate(-45deg);
  margin: -11px 0 0 0;
}
