
// ----
// Content Nav
//----

// Shows up on "complex content" pages, or those with section blocks. Mainly Services.

.nav--single {
  position: relative;
  z-index: $z-top;
  text-align: center;
  opacity: 0;
  max-height: 0;
  overflow: visible;

  @include bp(lg) {
    max-height: none;
    opacity: 1;
  }

  ul {
    background: $color-accent-med;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include bp(sm) {
      justify-content: center;
    }

    @include unstyle-list($margin: 0);
  }

  @include bp(lg) {
    &.stuck {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
} // .content-nav


.nav--single__item {
  position: relative;
  transition: all 0.2s ease-in-out;

  & > a {

    font-size: $size-sml;

    &:hover {
        background-color: darken($color-accent-med, 10%);
    }

    &:active,
    &.-current {
        background-color: darken($color-accent-med, 20%);
    }

    display: block;
    padding: $size-sml $size-h4;
    color: $color-text-vlight;
    font-size: $size-sml;
    @include upperspace;
  }

}

// Reference: http://kushagragour.in/lab/hint/

.tooltip {

  &:hover:after,
  &:hover:before {
    transition-delay: 100ms;
    transition: .3s ease;

    opacity: 1;
  }

  &:before {
    transform: translateY(8px);
    left: calc(50% - 10px);
    margin-top: -22px;
    top: calc(100% - 5px);
    border: 10px solid transparent;
    content: '';
    position: absolute;
    border-bottom-color: $color-accent-med;
    opacity: 0;
  }

  &:after {
    opacity: 0;
    transform: translateX(-50%) translateY(8px);
    position: absolute;
    top: calc(100% - 9px);
    left: 50%;
    padding-left: $size-xsml;
    padding-right: $size-xsml;
    white-space: nowrap;
    pointer-events: none;
    background: $color-accent-med;
    content: attr(aria-label);
  }
}

