
.iframe-target {
	display: none;
}

.vr-container {
  cursor: pointer;
  position: relative;
}

.vr-icon {
  position: absolute;

  // Not ideal.
  top: calc(50% - 63px);
  left: calc(50% - 63px);
  width: 126px;

  @include bp(md) {
    top: calc(50% - 126px);
    left: calc(50% - 126px);
    width: 252px;
  }
}
