.block_enhance__elem {

  // Would be better to have a system for this rather than hard coding the values.
  @include bp(md) {

    &.-large {
      width: 75%;
    }

    &.-medium {
      width: 60%;
    }

    &.-small {
      width: 40%;
    }

    &.-hang {

      &.alignleft {
        margin-left: -5%;
      }

      &.alignright {
        margin-right: -5%;
      }
    }
  }

  @include bp(lg) {

    &.-hang {

      &.alignleft {
        margin-left: -15%;
      }

      &.alignright {
        margin-right: -15%;
      }
    }
  }

  &.-quote blockquote {
    padding: $size-xsml;
    border-top: $border-quote;
    text-align: center;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;

    @include bp(lg) {
      margin-bottom: 0;
    }

    &:before {
      left: 0;
    }
  }

  &.-image,
  &.-vimeo {
    text-align: center;

    @include bp(sm) {
      text-align: left;
    }

    img {
      width: 100%;
      display: block;
      margin: auto;
      padding-top: $size-base;
      padding-bottom: $size-base;

      @include bp(sm) {
        margin: 0;
        padding-top: $size-xsml;
        padding-bottom: $size-xsml;
      }
    }
  }

}
