<div class="footer--site__colophon">
	<div class="contain--xl">
		{% if site_footer_copyright %}
			<p> &copy; {{site_footer_copyright}}. </p>
		{% endif %}

		{% if site_footer_credits %}
			{{site_footer_credits}}
		{% endif %}
	</div>
</div>
