
.header--single {

	&--noimage,
	&__hero__img__wrap {
		padding-top: $size-h2;
	}

	&__hero__img__wrap {
		position: relative;
		z-index: $z-mid;
		background-color: $color-accent-dark;

		&--half {
			height: 40vh;

			@include bp(sm) {
				height: 40vh;
			}

			@include bp(md) {
				height: 50vh;
			}

			@include bp(lg) {
				height: 55vh;
			}
			overflow: hidden;
		}

		&--full {
			overflow: hidden;
			height: 98vh;
		}

	}

	&__hero__title {
		text-align: center;
		@include upperspace;
		padding-left: $size-base;
		padding-right: $size-base;
	}

	&__hero__info__content {
		text-align: center;
		padding-top: $size-base;
		padding-left: $size-base;
		padding-right: $size-base;
	}

	&__hero__img {
		width: 100%;
		@include loader($file: '../../img/svg-raw/loader.svg', $color: $color-accent-dark);
	}

	&__hero__byline {
		color: $color-text-med;
	}

	&__hero__summary {
		@extend .textblock-caption;
	}

}


// Watch button and iframe positioning

.btn--watch {
	padding-left: $size-base;
	padding-right: $size-base;

	// Pretty verbose here, but works.
	.-right & {
		align-self: flex-start;

		@include bp(sm) {
			align-self: flex-end;
		}
	}

	.-left & {
		align-self: flex-start;
	}

	.-center & {
		align-self: center;
	}

	.icon {
		height: $size-base;
		fill: $color-accent-vlight;
	}
}

.watch-btn-target {
	display: flex;
	height: 100%;
	position: absolute;
	z-index: $z-back;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000;
	iframe {
		width: 100%;
		// height: 104%;
		position: relative;
		padding: 0;
	}
}

.hide-for-watch {
	opacity: 1;
	z-index: $z-base;
}
