
.header {

	&--home {
		background-color: #1B1B1B;
	}

	&__hero__info__wrap {
		position: relative;
		z-index: $z-mid;
	}

	&__hero__title {
		margin-top: 0;
		margin-bottom: $size-base;
		text-shadow: 1px 1px 2px $color-accent-dark;
		line-height: $line-height-sm;
	}

	&__hero__info {
		@include cell($guttered: false);
		text-align: center;
		color: white;
		background-color: rgba($color-rotate-bkgd,0.4);
		max-width: $screen-md;
		margin-top: -$size-h1;

		padding-top: $size-h3;
		padding-bottom: $size-h2;
		padding-left: $size-h3;
		padding-right: $size-h3;

		@include bp(lg) {
			padding-left: $size-base;
			padding-right: $size-base;
		}
	}

	&__hero__title a,
	&__hero__title {
		font-weight: $font-weight-strong;
		color: $white;
		@include upperspace;

		&:hover {
			color: $white;
		}
	}

	&__hero__byline {
		font-size: $size-sml;
		@include meta($color-text-vlight);
	}

	&__hero__info__wrap {
		@include grid($guttered: false);
		min-height: 98vh;
		align-items: center;
		justify-content: center;
	}

	&__hero__icon__container {
		width: 100%;
		position: absolute;
		bottom: $size-h1;
		left: 0;
		z-index: $z-top;
	}

	.icon {
		@include icon($fill: $color-text-vlight);
		width: $size-h2;
		height: $size-h2;
		display: block;
		margin: 0 auto;
	}

	.flickity-page-dots {
	  bottom: $size-h1;
	}

	.gallery {
  	background: $color-accent-dark;
	}

	.gallery-cell {
	  width: 100%;
	  counter-increment: gallery-cell;
	  margin-left: 10px;
	  padding-top: $size-h2;

	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center center;
	}

	.flickity-viewport {
		overflow-y: auto;
		@include bp(md) {
			overflow: hidden;
		}
	}
}

.heroLoader {
	display: none;
}


