
.header--site {
	background: rgba($color-rotate-bkgd-lighter, 0.9);
	position: fixed;

	* {
		-webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}

	width: 100%;
	top: 0;
	left: 0;
	z-index: $z-tiptop;

	&__wrap {
		height: 100%;
		@include grid($guttered: false)
	}

	&__brand--left {
		@include cell(half);
		padding-top: $size-sml;
	}

	&__brand {

		&--right {
			@include cell(half, $guttered: false);
			margin-right: auto;
			float: right;
			display: flex;
			justify-content: flex-end;
		}

		&__cell {
			height: 100%;

			img {
				width: $size-h2*1.2;
				height: 100%;
				display: block;
			}

			> a {
				display: flex;
				height: 100%;
			}

			.icon {
				height: 100%;
				margin-right: -1px;
				fill: $white;
				width: $size-h2*1.2;
			}
		}

	}
}
