
// ----
// Base styles
// ----

* {
	box-sizing: border-box;
}

body {
	word-wrap: break-word;

	@include bp(small) {
		word-wrap: normal;
	}

  &.home,
  &.archive.category {
    background-color: $color-rotate-bkgd;
    color: $color-rotate-text;
  }
}

img {
	max-width: 100%;
}

.no-js img.lazyload {
    display: none;
}

.site__main {
  padding-bottom: $size-h2;
  .error404 &,
  .archive & {
    padding-top: $size-h1;
  }
}

