{% extends 'base.twig' %}

{% block before_content %}
	{% include 'headers/_header-archive.twig' with { class : 'header--archive' } %}
{% endblock %}

{% block content %}
	{% for post in posts %}
    <div class="contain--lg">
    {% if post.show_in_chapter_feed %}
  		{% include 'teases/_tease-' ~ post.post_type ~ '.twig' %}
    {% endif %}
    </div>
	{% endfor %}
{% endblock %}
