<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
    <head>
    <meta charset="{{site.charset}}" />
    <title>{{wp_title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}" />
    <link rel="icon" type="image/png" href="{{favicon_32}}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{favicon_16}}" sizes="16x16" />
    <script>
        WebFontConfig = {
            // afl4hgo
            typekit: { id: {{ post.typekit_kit_id ? "'" ~ post.typekit_kit_id ~ "'" : "'" ~ 'afl4hgo' ~ "'" }} }
        };

        (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
            s.parentNode.insertBefore(wf, s);
        })(document);

        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function() {
           var gads = document.createElement("script");
           gads.async = true;
           gads.type = "text/javascript";
           var useSSL = "https:" == document.location.protocol;
           gads.src = (useSSL ? "https:" : "http:") + "//www.googletagservices.com/tag/js/gpt.js";
           var node =document.getElementsByTagName("script")[0];
           node.parentNode.insertBefore(gads, node);
        })();
    </script>

    {% if krpano %}
      <link rel='stylesheet' id='wppano_style-css'  href='{{site.link}}/wp-content/plugins/wp-pano/style.css?ver=4.5.2' type='text/css' media='all' />
      <script type='text/javascript' src='{{site.link}}/wp-content/plugins/wp-pano/js/front.js?ver=4.5.2'></script>
    {% endif %}

    {{function('wp_head')}}

    {% if post.body_font or post.heading_font or post.custom_css %}
        <style>
            {% if post.body_font %}body { font-family: '{{post.body_font ? post.body_font}}';}{% endif %}
            {% if post.heading_font %}h1, h2, h3, h4, h5, h6 { font-family: '{{post.heading_font}}'; }{% endif %}
            {% if post.custom_css %}
                {{post.custom_css}}
            {% endif %}
        </style>
    {% endif %}
