
.tease--thumb {

	margin-bottom: $size-base;
	width: 75%;

	@include bp(sm) {
		// @include cell(half);
		width: 50%;
	}

	@include bp(md) {
		width: 33%;
	}

	@include bp(xl) {
		width: 25%;
	}

	&__link {
	}

	&__imgwrap {

		border: 3px solid transparent;

		@include bp(md) {
			&:hover {
				border-color: $color-body-text;
				transition: 0.5s ease border-color;
			}
		}

		&.current {
			border-color: $color-body-text;
		}
	}

	&__img {
		display: block;
		width: 100%;

		.current & {
			opacity: 0.3;
		}
	}

	&__title {
		margin-top: $size-xsml;
		margin-bottom: 0;
		font-weight: $font-weight-strong;
		font-size: $size-base;
		@include upperspace;
		color: $color-body-text;
	}

	&__caption {
		@extend .textblock-caption;
		margin-top: $size-xsml;
	}

}


.loop__tease--thumb {
	margin-bottom: $size-h2;
}
