.tease--chapter {
	@include grid($guttered: false);
	padding-top: $size-h3;
  margin-top: $size-h3;
  border-top: 3px solid $color-rotate-bkgd-lighter;
}

.tease--cell {
	position: relative;

  > a, img {
		width: 100%;
    display: block;
  }

  @include cell($size: full, $guttered: false);
	@include bp(md) {
		@include cell($guttered: false, $is_first: false);
		@include grid($guttered: false);

		&--left {
			order: 0;
      text-align: right;

      img {
        background-image: url('../../img/svg-raw/loader.svg');
        background-position: center;
        background-repeat: no-repeat;
      }
		}

		&--right {
			order: 1;
    }
  }
}

.tease--content {

  > * {
    width: 100%;
  }
}

.tease--title {
  margin-top: 0;
}

.tease--more__wrap {
  width: 100%;
  @include grid;

  @include bp(md) {
    .tease--cell--left & {
      justify-content: flex-start;
      order: 0;;
    }

    .tease--cell--right & {
      order: 1;
    }
  }
  justify-content: flex-end;
  align-content: flex-end;
}


// Change the order of share and excerpt footer cells
.tease--share__wrap {
  @include bp(md) {
    .tease--cell--left & {
      order: 1;
    }

    .tease--cell--right & {
      order: 0;
    }
  }
}

.tease--footer,
.tease--content {
  @include cell($size: full, $guttered: false);
  @include grid($guttered: false);
  padding-top: $size-h4;
  padding-bottom: $size-h4;
  @include bp(sm) {
    padding-left: $size-h4;
    padding-right: $size-h4;
  }
  @include bp(md) {
    padding-top: 0;
  }
}

.tease--footer {
	> * {
    @include cell($size: half, $guttered: false, $is_first: false);
		align-self: center;
	}
}

.tease--byline {
  margin-top: $size-xsml;
}

.tease--categories {
  margin-top: 0;
  a,
  &__link {
    color: $color-rotate-link;
    font-family: $font-headline;
    display: inline-block;

    &:hover {
      color: $color-text-vlight;
    }
  }

}

.cat-filter {
  margin-top: $size-base;
  padding: $size-xsml $size-base;

  &:hover,
  &.selected,
  &:visited,
  &:focus {
    background-color: $color-rotate-bkgd-lighter;
    color: $color-rotate-link;
  }
}

.tease--excerpt__more {
  @include bp(md) {
    align-self: flex-end;
  }
  @include upperspace;
  height: 100%;
	font-family: $font-headline;
  margin: 0;
}

.share {
  @include unstyle-list;
  margin: 0;

  li {
      display: inline-block;
  }

  .icon {
      fill: $white;
      height: $size-h2;
      width: $size-h2;
  }
}

.chapters-loading {
  opacity: 0;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtered-posts {
  min-height: 35vh;
}
