{% extends 'headers/header.twig' %}

{% block before_header_content %}{% endblock %}

{% block header_content %}

	{% set display = post.header_display %}
  <div class="text-center">
  	<h1 class="header--archive__title">{{title}}</h1>
  </div>

{% endblock %}

{% block after_header_content %}{% endblock %}
