{% extends 'headers/header.twig' %}

{% block header_content %}

	{% set full_screen = post.header_fullscreen_tf %}
	{% set hide = post.header_hide_info %}

	{% if post.header_display != 'text' %}
		<div class="header--single__hero__img__wrap header--single__hero__img__wrap--{{ full_screen ? 'full' : 'half' }} fade-wrap teaser lazyload" data-expand="-20">
	{% endif %}

	{% if post.header_display == 'image' %}

		{% set desktop = TimberImage(post.header_image_desktop).src %}
		{% set tablet = TimberImage(post.header_image_table).src %}
		{% set mobile = TimberImage(post.header_image_mobile).src %}

			<picture>
				<source data-srcset="{{TimberImage(post.header_image_desktop).src|resize(1800, 900)}}" media="(min-width: 1100px)">
				<source data-srcset="{{tablet ? tablet|resize(900, 600) : desktop|resize(900, 600)}}" media="(min-width: 736px)">
				<img class="header--single__hero__img lazyload fill-screen" data-srcset="{{mobile ? mobile|resize(700, 600) : desktop|resize(700, 500)}}" src="{{site.theme.link}}/assets/img/util/placeholder-single-desktop.png" alt="{{post.post_title}}">
			</picture>

	{% elseif post.header_display == 'video'%}

			{% include 'utility/ambient-video.twig' with {
				placeholder: post.get_field('header_placeholder_image'),
				mp4: post.get_field('header_video_mp4'),
				webm: post.get_field('header_video_webm'),
				gif: post.get_field('header_gif'),
				fill: true,
				muted: true,
    		loop: true
			} %}

	{% elseif post.header_display == 'nothing'%}

		<div class="header--single--noimage">
			{% if not hide == 'byline' %}
				<h1 class="screen-reader">{{post.post_title}}</h1>
			{% endif %}
			{% if not hide == 'byline' %}
				<p class="screen-reader">{{post.header_byline}}</p>
			{% endif %}
			{% if not hide == 'summary' %}
				<p class="screen-reader">{{post.header_summary}}</p>
			{% endif %}
		</div>

	{% endif %}

	{% if post.header_logo_overlay %}

		<div class="overlay -{{post.header_overlay_alignment ? post.header_overlay_alignment : 'center'}}{{post.animation ? ' wow ' ~ post.animation}}{{elem.animation ? ' data-wow-delay=".5s"'}}">
			<div class="overlay__content -header -{{post.header_overlay_alignment ? post.header_overlay_alignment : 'center'}}">
				<img src="{{TimberImage(post.header_logo_overlay).src
		}}" alt="{{post.post_title}} logo">
				<p class="overlay__credits">{{post.header_overlay_credits}}</p>
				<p class="overlay__subhead">{{post.header_overlay_subhead}}</p>
				{% if post.header_watch_btn_vimeo_id %}
					<a href="#" class="watch-btn btn--has_icon btn--watch" data-iframe-src="http://player.vimeo.com/video/{{post.header_watch_btn_vimeo_id}}?autoplay=true">
						<span class="text">Watch</span>
						{% include 'utility/svg.twig' with { file : 'play', prefix : 'icon' } %}
					</a>
				{% endif %}

				{% if post.show_read_more %}
					<div class="overlay__readmore">
						<span>Read More</span>
						{% include 'utility/svg.twig' with { file : 'arrow-down', prefix : 'icon' } %}
					</div>
				{% endif %}
			</div>
		</div>

	{% endif %}

	{% if post.header_display != 'text' %}
		</div> <!-- /hero__img__wrap -->
	{% endif %}

	{% include 'navs/_nav-single.twig' %}

	{# TODO: Do not render the parent elements if all items are hidden. #}
	<div class="header--single__hero__info{{post.header_display == 'text' ? ' header--single--noimage'}}">
		<div class="header--single__hero__info__content">
			{% if not hide == 'title' %}
				<div class="contain--xl">
					<h1 class="header--single__hero__title">{{post.post_title}}</h1>
				</div>
			{% endif %}
			{% if not hide == 'byline' %}
				<div class="contain--sm">
					<p class="header--single__hero__byline">{{post.header_byline}}</p>
				</div>
			{% endif %}
			{% if not hide == 'summary' %}
				<div class="contain--md">
					<p class="header--single__hero__summary">{{post.header_summary}}</p>
				</div>
			{% endif %}
		</div>
	</div>

	{% if post.header_watch_btn_vimeo_id %}
		<div class="watch-btn-target fitvidsignore">
			<iframe allowfullscreen="true" class="header-iframe" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true"></iframe>
		</div>
	{% endif %}


{% endblock %}

{% block after_header_content %}
{% endblock %}
