{% extends 'headers/header.twig' %}

{% block header_content %}

<div class="header--site__wrap">
  <div class="header--site__brand--left">
    <a href="#menu" class="menu-link">
      <span></span>
      <span></span>
      <span></span>
      <h1 class="screen-reader">{{site.name}}</h1>
    </a>
  </div>
  <div class="header--site__brand--right">
    <div class="header--site__brand__cell">
      <a class="menu-link" href="{{logo_right_link}}" target="blank">
          <img src="{{TimberImage(logo_right).src}}" alt="{{site.title}}">
      </a>
    </div>
    <div class="header--site__brand__cell">
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{post.link}}&title={{post.post_title}}&summary={{post.header_summary}}&source={{site.title}}" target="blank">{% include 'utility/svg.twig' with { file: 'linkedin',  prefix: 'icon' } %}</a>
    </div>
    <div class="header--site__brand__cell">
      <a href="https://twitter.com/intent/tweet?text={{post.twitter_message}}&url={{post.link|url_encode}}&via=weatherchannel" target="blank">{% include 'utility/svg.twig' with { file: 'twitter',  prefix: 'icon' } %}</a>
    </div>
    <div class="header--site__brand__cell">
      <a href="http://facebook.com/sharer/sharer.php?u={{post.link}}" target="blank">{% include 'utility/svg.twig' with { file: 'facebook',  prefix: 'icon' } %}</a>
    </div>
  </div>
</div>

<nav id="menu" class="header--site__menu" role="navigation">
  <div class="contain--xl">
    <ul class="header--site__menu__items">
      {% if menu.items %}
        {% for item in menu.items %}
          <li class="header--site__menu__item {{item.classes | join(' ')}}">
              <a href="{{item.link}}">{{item.title}}</a>
          </li>
        {% endfor %}
      {% else %}
      {# Nasty ass way to get around menus not showing up on archive pages #}
      <li class="header--site__menu__item {{item.classes | join(' ')}}">
        <a href="{{site.link}}">Home</a>
      </li>
      {% if cats %}
        {% for c in cats %}
          {% if c != "Hidden" and c != "Uncategorized" %}
            <li class="header--site__menu__item {{item.classes | join(' ')}}">
              <a href="{{c.link}}">{{c.title}}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
    </ul>
  </div>
</nav><!-- /.menu-main -->

{% include 'utility/ad-base.twig' %}

{% endblock %}
