{% extends 'headers/header.twig' %}

{% block before_header_content %}{% endblock %}

{% block header_content %}

	<div class="gallery header__hero--slider teaser lazyload" data-expand="-20">

		{% if first_slide %}
			{% set post = TimberPost(first_slide) %}
			{% include 'utility/fullscreen-cell.twig' %}
		{% endif %}

		{% for c in selected_chapters|slice(0,10) %}
			{% set has_readmore = true %}
			{% set chap = TimberPost(c) %}
			{% include 'utility/fullscreen-cell.twig' with { post: chap }%}
		{% endfor %}

	</div> <!-- .gallery -->

{% endblock %}

{% block after_header_content %}{% endblock %}
