
{# Base header template #}

{% set h_class = ' class="' ~ class ~ '"' %}
{% set h_role = ' role="' ~ role ~ '"' %}

<header{{ class ? h_class }}{{role ? h_role }}>

	{% block before_header_content %}{% endblock %}

	{% block header_content %}
		<h1 class="header__hero__title">{{post.post_title}}</h1>

		<div class="header__hero__info contain--sm">
			<p class="header__hero__byline">{{post.header_byline}}</p>
			<p>{{post.header_summary}}</p>
			<a class="header__hero__btn--more" href="{{post.link}}">Read More</a>
		</div>

	{% endblock %}

	{% block after_header_content %}{% endblock %}

</header>
