
// Shameful styles here.

// Would like to find a better way to do this:

.fade-mask {
	position: absolute;
	width: 100%;

	left: 0;
	right: 0;
	z-index: $z-base;

	&--dark {
		background: linear-gradient(($color-rotate-bkgd,0), rgba($color-rotate-bkgd,1));
	}

	&--light {
		background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
	}
}

.fade-wrap {
	position: relative;
}

.fade-top {
	top: 0;
	height: 100%;
}

.fade-bottom {
	bottom: 0;
	height: 15%;
}

.fluid-width-video-wrapper {
	padding-top: 55% !important;
}


// This could be way more concise and use the mixin.
.btn--more {
	cursor: pointer;
    border: 1px solid $color-text-med;
    margin-top: $size-base;
    background-color: rgba($color-accent-dark, 0.4);
    padding: $size-sml $size-base;

    &:hover {
        background-color: rgba($color-accent-dark, 0.6);
        border-color: $color-text-light;
    }

    &:active {
        background-color: rgba($color-accent-dark, 1);
        border-color: $color-text-med;
    }

    font-weight: $font-weight-strong;
    color: $white;

    @include upperspace;

    &:hover,
    &:focus {
        color: $white;
    }
}

.btn__wrap {
	text-align: center;
}


// Some non-semantic layout styles

.blocked {
	display: block;
	margin-top: $size-base;
	margin-bottom: $size-base;
}


// Content specific. Not ideal.

.cell--buttons {
	text-align: center;
	@include bp(md) {
		padding-right: $size-h1;
		text-align: right;
	}
}

