{% extends "teases/tease.twig" %}

{% block content %}

		<div class="tease--cell tease--cell--left">
			<a href="{{post.link}}">
				<img class="lazyload tease--thumb__img" data-src="{{post.thumbnail.src('twc-large-thumb')}}" alt="{{post.post_title}}" src="{{site.theme.link}}/assets/img/util/placeholder-tease-thumb.png">
			</a>
		</div>
		<div class="tease--cell tease--cell--right">
			<div class="tease--content">
				{% if post.get_terms('category') %}
					<p class="tease--categories">
					{% for c in post.get_terms('category') %}
						{% if c != "Hidden" and c != "Uncategorized" %}
							<a href="{{c.link}}" class="tease--categories__link tease--categories__link--filter">{{c.title}}</a>{{loop.last ? ' ' : ' | '}}
						{% endif %}
					{% endfor %}
					</p>
				{% endif %}
				<h4 class="tease--title">{{post.post_title}}</h4>
				<p class="meta--light tease--byline">{{post.header_byline}}</p>
				<p>{{post.header_summary}}</p>
			</div>
			<footer class="tease--footer">
				<div class="tease--share__wrap">
					{% include 'utility/share-btns.twig' %}
				</div>
				<div class="tease--more__wrap">
					<a href="{{post.link}}" class="btn btn--rotate tease--excerpt__more">Read Article &#62;</a>
				</div>
			</footer>
		</div>

{% endblock %}
