
{# Base tease template #}

<article class="tease{{post.post_type ? ' tease--' ~ post.post_type}}">

	{% block content %}
		{% set post = TimberPost(post) %}
		<h4><a href="{{post.link}}">{{post.post_title}}</a></h4>
		<p>{{post.header_summary}}</p>
		<a href="{{post.link}}" class="btn btn--readmore">Read more...</a>
		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
	{% endblock %}

</article>

