

// -----
// Form styles
// -----

// Remove the blue outline from Chrome
*:focus {
    outline: 0;
}

label, select {
	// display: block;
}

label {
	margin-top: $size-h4;
	margin-bottom: $size-xsml;
	font-family: $font-form;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

label {
	font-family: $font-body;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"] {

	width: 100%;
	border: $border-accent;
	padding: $size-xsml/2 $size-xsml;
	border-radius: 3px;

	&:focus {
		border-color: $color-alert-info;
		background-color: $color-accent-vlight;
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-right: $size-xsml;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
}

input[type="submit"],
button {
}


select,
input[type="file"] {
	*margin-top: 4px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: $border-accent;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

fieldset {
	border: 0;
}

