%icon-base {
	width: $size-base;
	height: $size-base;
	display: block;
	margin: 0 auto;
}

@mixin icon($fill, $hover: $color-accent-med) {
	@extend %icon-base;
	fill: $fill;
	a &:hover {
		fill: $hover;
	}
}

.shape {
	width: 100%;
	fill: $color-accent-dark;
}

@mixin social($fill) {
	padding: $size-xsml;
	background: $fill;
	@include bp(sm) {
		&:hover {
			background: darken($fill, 20%);
		}
	}
}

// TODO: could be a map

.icon-twitter {
	@include social($color-twitter);
}

.icon-facebook {
	@include social($color-facebook);
}

.icon-linkedin {
	@include social($color-linkedin);
}

