.overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: $size-h4;
  padding-right: $size-h4;

  @include bp(sm) {
    padding-left: $size-h1;
    padding-right: $size-h1;

    &.-right {
      align-items: flex-end;
      text-align: right;
      float: right;
    }

    &.-left {
      align-items: flex-start;
      text-align: left;
      float: left;
    }
  }

  &.-center {
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  &__content {
    margin: 0;
    @include cell;
    max-width: $screen-sm;

    &.-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $color-rotate-text;
    }

    &.-quote {
      margin-top: $size-base;
      color: $color-body-text;
      @include bp(sm) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $color-rotate-text;
      }
    }

    &.-top {
      @include bp(sm) {
        margin-top: $size-h1;
        justify-content: flex-start;
      }
    }

    &.-bottom {
      @include bp(sm) {
        margin-bottom: $size-h2;
        justify-content: flex-end;
      }
    }

    img {
      // TODO: Make this better!
      width: 80%;
      display: block;
      margin: 0 auto;
    }
  }

  &__credits {
    font-size: $size-sml;
    margin-top: $size-sml;
    margin-bottom: $size-sml;
    color: $color-accent-light;
  }

  &__subhead {
    margin: 0;
  }

  &__readmore {
    text-align: center;
    margin-top: $size-base;
  }
}


