.teaser.lazyload {
	opacity: 0;
}

.teaser.lazyloaded {
	opacity: 1;
	transition: all 700ms;
}

.block_video video {
	margin: 0 auto;
	max-width: 100%;
}

.ambient__video {
	display: none;

	@include bp(lg) {
		display: block;
	}
}

.ambient__video__replacement {
	@include bp(lg) {
		display: none;
	}
}