
/// @group Typography

html {
	font-size: $size-contain-base;
	line-height: $line-height-base;
	font-weight: $font-weight-base;

	@include bp(sm) {
		font-size: $size-contain-sm;
	}

	@include bp(md) {
		font-size: $size-contain-md;
	}

	@include bp(lg) {
		font-size: $size-contain-lg;
	}
}

body {
	font-family: $font-body;
	font-size: $size-base;
	color: $color-text-dark;
}

a {
	color: $color-link;
	text-decoration: none;

	&:hover, &:focus {
		color: $color-link-hover;
	}

	&:active {
		color: $color-link-active;
	}

	// mobile tap color
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

.wf-loading h1,
.wf-bebasneue-n4-loading {
	font-family: "Impact";
	font-weight: 300;
	font-stretch: extra-condensed;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: $font-weight-heading;
	margin-bottom: 0;
	line-height: $line-height-base;
}

h1,
.wf-active h1 {
	font-weight: $font-weight-strong;
	font-family: $font-headline;
	font-size: $size-h2;
	line-height: $line-height-sm;

	@include bp(md) {
		font-size: $size-h1*1.5;
	}
}

h2 {
	font-family: $font-heading;
	font-size: $size-h2;
}

h3 {
	font-family: $font-heading;
	font-size: $size-h3;
}

h4 {
	@include upperspace;
	font-family: $font-body;
	font-size: $size-h4;
	margin-top: $size-h2;
}

h5 {
	@include upperspace;
	font-size: $size-h5;
	margin-top: $size-sml;
	font-family: $font-body;
}

h6 {
	font-family: $font-body;
	font-size: $size-h6;
	@include upperspace();
}

small {
	font-size: $size-sml;
}

strong {
	// TODO: Add real font here instead of faux bold
	font-weight: $font-weight-strong;
}

blockquote {
	font-size: $size-h4;
	font-style: italic;

	margin-left: 0;
	margin-right: 0;

	&:before {
		background-image: url(../../img/svg-raw/quotes-left.svg);
		background-repeat: no-repeat;

		content: " ";

		width: $size-h2;
		height: $size-h3;

		display: inline-block;

		@include bp(med) {
			left: -$size-h3;
		}
	}
}

p {
	margin-top: $size-h4;
	margin-bottom: $size-xsml;
}


/// @group typography-helpers
/// @content [Semantic classes for typography. These may be extended in their associated partial.]

.lead {
	font-size: $size-h5;
	margin-bottom: $size-h3;
}
