{% set space = ' '%}
{% set replace_space = '_' %}

{% if post.chapter_navigation == true %}
  <nav class="nav nav--single">
    <ul>
      {% for item in post.get_field('blocks') %}
        {% if item.acf_fc_layout == 'block_chapter_link' %}
          <li class="nav--single__item">
            <a href="#{{item.navigation_title|lower|replace({ (space): replace_space })}}" {% if item.tooltip %}aria-label="{{item.tooltip|striptags}}"{% endif %} class="tooltip">{{item.navigation_title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
