{% extends 'blocks/block.twig' %}

{% block content %}

	<blockquote>
    {{block.quote_text}}
		{% if block.quote_source %}
			<p>
        {% include 'utility/svg.twig' with { file : 'quotes-left', prefix : 'icon' } %}
				&dash; <cite>
        {% if block.quote_source_url %}
          <a href="{{block.quote_source_url}}" target="blank">{{block.quote_source}}</a>
        {% endif %}
        </cite>
			</p>
		{% endif %}
	</blockquote>


{% endblock %}
