
<div class="block {{block_class}}">
	<div class="{{block.contain ? block.contain : 'contain--md'}}">

      {% for elem in block.elements %}
        {% if elem.acf_fc_layout == 'text' %}
          {{elem.text}}
        {% elseif elem.acf_fc_layout == 'other_element' %}
          <div class="{{elem.type_of_element == 'image' ? 'teaser' }} block_enhance__elem {{elem.hanging_tf ? '-hang'}} -{{elem.type_of_element}} {{elem.position}} -{{elem.size}}{{elem.animation ? ' wow ' ~ elem.animation}}"{{elem.animation ? ' data-wow-delay=".5s"'}}>

            {% if elem.type_of_element == 'image' %}

              {% set img = TimberImage(elem.image) %}
                <img class="lazyload" data-sizes="auto"
                     data-srcset="{{img.src|resize(500)}} 375w,
                         {{img.src|resize(900)}} 768w"
                     src="{{site.theme.link}}/assets/img/util/placeholder-500x333.png" width="900">
                <noscript>
                  <img src="{{img.src|resize(900)}}" alt="{{post.post_title}}"/>
                </noscript>
                <p class="block_textimage--caption__text">{{img.caption}}</p>

            {% elseif elem.type_of_element == 'quote' %}

                <blockquote>{{elem.quote_text}}</blockquote>

            {% elseif elem.type_of_element == 'vimeo' %}

              <div class="fluid-width-video-wrapper" style="padding-top: 50%;">
                <iframe src="https://player.vimeo.com/video/{{elem.vimeo_id}}" allowfullscreen="true" class="lazyload" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true"></iframe>
              </div>
              <p class="block_textimage--caption__text">{{elem.video_caption}}</p>

            {% endif %}

          </div>
        {% endif %}
      {% endfor %}

	</div>
</div>
