{% extends "blocks/block.twig" %}

{% block content %}

	{% include 'utility/ambient-video.twig' with {
		placeholder: block.placeholder_image,
		mp4: block.video_mp4,
		webm: block.video_webm,
    muted: block.muted,
    loop: block.loop,
		gif: block.gif
	} %}

{% endblock %}
