
{% extends "blocks/block.twig" %}

{% block content %}
  <div class="contain--md">
    <div class="vr-container" data-vr-src="{{site.link}}/wp-content/uploads/video/{{block.video_name}}/krpano.html">


    {# If is mobile, place a link around the image, otherwise load the iframe on click #}
    {% if is_mobile %}
      <a href="{{site.link}}/wp-content/uploads/video/{{block.video_name}}/krpano.html" target="blank">
    {% endif %}

    <img src="{{site.theme.link}}/assets/img/util/360vr_graphic_white.svg" alt="VR icon" class="vr-icon">

    <img class="lazyload {{ not is_mobile ? 'iframe-trigger' }}" data-sizes="auto"
          srcset="{{block.video_placeholder|resize(700)}} 375w,
             {{block.video_placeholder|resize(900)}} 480w,
             {{block.video_placeholder|resize(1200)}} 768w"
          alt="{{post.post_title}}"
          src="{{block.video_placeholder|resize(700)}}">

      {% if not is_mobile %}
        <div class="iframe-target fluid-width-video-wrapper" style="padding-top: 50%;">
          <iframe allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true"></iframe>
        </div>
      {% else %}
        </a>
      {% endif %}

    </div>
  </div>
{% endblock %}
