<div class="block {{block_class}}">
	<div class="lazyload teaser" data-expand="-20">

		{{block.contain ? '<div class="' ~ block.contain ~ '">'}}

		<figure class="cd-image-container">

			<img class="lazyload" sizes="(min-width: 40em) 80vw, 100vw"
				data-srcset="{{TimberImage(block.comparison_image_right).src|resize(500)}} 375w,
			 		 {{TimberImage(block.comparison_image_right).src|resize(900)}} 768w,
			 		 {{TimberImage(block.comparison_image_right).src|resize(1200)}} 1024w"
			 	alt="{{block.comparison_image_right_caption}}"
			 	src="{{site.theme.link}}/assets/img/util/placeholder-500x280.png" width="1200">
			<span class="cd-image-label" data-type="original">{{block.comparison_image_right_caption ? block.comparison_image_right_caption : '2015' }}</span>
		
			<div class="cd-resize-img">
				<img class="lazyload" sizes="(min-width: 40em) 80vw, 100vw"
					data-srcset="{{TimberImage(block.comparison_image_left).src|resize(500)}} 375w,
			 			{{TimberImage(block.comparison_image_left).src|resize(900)}} 768w,
			 		 	{{TimberImage(block.comparison_image_left).src|resize(1200)}} 1024w"
			 		alt="{{block.comparison_image_left_caption}}"
			 		src="{{site.theme.link}}/assets/img/util/placeholder-500x280.png" width="1200">
				<span class="cd-image-label" data-type="modified">{{block.comparison_image_left_caption ? block.comparison_image_left_caption : '2005' }}</span>
			</div>
		
			<span class="cd-handle">{% include 'utility/svg.twig' with { file: 'cd-arrows', prefix: 'icon' } %}</span> <!-- slider handle -->
			{% if block.primary_caption %}
			{% endif %}
		
		</figure> <!-- .cd-image-container -->
		
		{{block.contain ? '</div>'}}
		
		<div class="contain--md">
			<p class="block_comparison--caption__text">
				{{block.primary_caption}}
			</p>
		</div>
	
	</div> 
</div> <!-- /.{{block_class}} -->