
{% extends "blocks/block.twig" %}

{% block content %}
  {% if block.enable_old_ad_fields %}
  	{% set pos_d = block.ad_position_desktop %}
  	{% set pos_m = block.ad_position_mobile %}
  	<center> <!-- FML -->
  		{% if not block.custom_code %}
  			<div class="ad__wrap--old" id="{{block.ad_id}}" data-pos-m="{{pos_m}}" data-pos-d="{{pos_d}}"></div>
  		{% else %}
  			{{block.custom_code}}
  		{% endif %}
  	</center>
  {% else %}
    {% include 'utility/ad-base.twig' with { post: block } %}
  {% endif %}

{% endblock %}
