<div class="block {{block_class}}{{block.class ? ' ' ~ block.class}}">
  {% if block.contain %}
  	<div class="{{block.contain}}">
  {% endif %}
	{% block content %}
		<p>Nothing in this Block</p>
	{% endblock %}
  {% if block.contain %}
  	</div>
  {% endif %}
</div> <!-- /.{{block_class}} -->
