{% if post.ad_id %}

  {% set plat_m = post.ad_plat_mobile %}
  {% set plat_d = post.ad_plat_desktop %}
  {% set plat_t = post.ad_plat_tablet %}

  {% set slot_m = post.ad_slot_m %}
  {% set slot_t = post.ad_slot_t %}
  {% set slot_d = post.ad_slot_d %}


  {% set pos_m = post.ad_pos %}
  {% set pos_t = post.ad_pos_t %}
  {% set pos_d = post.ad_pos_d %}

  {% set size_w = post.ad_size_w %}
  {% set size_h = post.ad_size_h %}

  <center> <!-- FML -->
    <div class="ad__wrap" id="{{post.ad_id}}"

          data-slot-d="{{slot_d}}"
          data-slot-t="{{slot_t}}"
          data-slot-m="{{slot_m}}"

          data-plat-d="{{plat_d}}"
          data-plat-t="{{plat_t}}"
          data-plat-m="{{plat_m}}"

          data-pos-m="{{pos_m}}"
          data-pos-t="{{pos_t ? pos_t : pos_m}}"
          data-pos-d="{{pos_d ? pos_d : pos_m}}"

          data-size-w="{{size_w ? size_w : '250'}}"
          data-size-h="{{size_h ? size_h : '70'}}"></div>

    </div>
  </center>

{% endif %}
