<video {{ loop ? 'loop' }} {{ muted ? 'muted' }} class="ambient__video{{fill ? ' fill-screen'}}" poster="{{placeholder}}">
	{% if webm %}<source src="{{webm}}" type="video/webm" />{% endif %}
	{% if mp4 %}<source src="{{mp4}}" type="video/mp4" />{% endif %}
</video>
<img class="lazyload ambient__video__replacement{{fill ? ' fill-screen'}}" data-src="{{gif ? TimberImage(gif).src : placeholder}}" src="{{placeholder|resize(500)}}" alt="Video mobile image">
{% if block.caption %}
  <p class="block_textimage--caption__text text-center">{{block.caption}}</p>
{% endif %}
