

// ----
// Typography
// ----

.special {
	color: $color-accent-med;
}

.meta {
	@include meta();
	line-height: $line-height-sm;
}

	.meta--light {
		line-height: $line-height-sm;
		@include meta($color-text-light);
	}

	.meta--med {
		line-height: $line-height-sm;
		@include meta($color-text-med);
	}

	.meta--dark {
		line-height: $line-height-sm;
		@include meta($color-body-text);
	}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.textblock-caption {
	font-style: italic;
	color: $color-text-med;
}




// ----
// Elements
// ----

.edit-link {
	font-size: $size-sml;
	@include upperspace();
	font-weight: $font-weight-strong;
	color: $color-alert-danger;
}






// ----
// Utility
// ----

.visually-hidden,
.screen-reader {
    position: absolute;
    top: -9999999px;
    left: -999999px;
}

.wp-caption {
	padding-bottom: $size-xsml;
}

.wp-caption-text {
	@include meta;
	margin-top: $size-xsml/2;
	font-style: italic;
}

.alignleft,
.alignright {
	margin: auto;
}

@include bp(sm) {

	.alignleft,
	.alignright {
		margin: 0;
	}

	.alignleft {
		float: left;
		padding-right: $size-base;
	}

	.alignright {
		float: right;
		padding-left: $size-base;
	}
}


.fill-screen {
	position: absolute;
	object-fit: cover;
	min-height: 100%;
	left: 0;
	top: 0;
	@include bp(lg) {
		min-width: 100%;
	}
}
