
// ----
// Visual Design
// ----

// Button
@mixin button( $button-color, $text-color: $white ) {
	background: $button-color;
	font-weight: 700;
	border-radius: 2px;
	color: $text-color !important;

	&:hover,
	&:focus {
		background: darken( $button-color, 10% );
		color: $text-color;
	}

	&:active {
		background: darken( $button-color, 40% );
	}
}

@mixin loader($file: '../../img/svg-raw/loader.svg', $color: $color-accent-dark, $size: 60px) {
    background-image: url($file);
    background-color: $color;
    background-repeat: no-repeat;
    background-size: $size $size;
    background-position: center center;
}



// ----
// Layout
// ----

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

@mixin center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


// ----
// Typography
// ----

@mixin upperspace() {
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin meta($color: $color-text-med, $margin: false) {
    color: $color;

    @include bp(lg) {
        font-size: $size-sml;
    }

    @if $margin == false {
        margin: 0;
    }
}

@mixin unstyle-list($margin: false) {
    list-style-type: none;
    padding-left: 0;
    @if $margin {
        margin: $margin;
    }
}

@mixin horizontal-list($center: false, $padding: $size-h3) {
    @if $center == true {
        text-align: center;
    }
    li {
        display: inline-block;
        padding-right: $padding;
        &:last-child {
            padding-right: 0;
        }
    }
}

// ----
// Media Queries
// ----


// http://css-tricks.com/conditional-media-query-mixins/
$MQs: true;

@mixin bp($point) {
    @if ($MQs) {
        $bp-sm: "(min-width: #{$screen-sm})";
        $bp-md: "(min-width: #{$screen-md})";
        $bp-lg: "(min-width: #{$screen-lg})";
        $bp-xl: "(min-width: #{$screen-xl})";

        @if $point == sm {
            @media #{$bp-sm} { @content; }
        }
        @else if $point == md {
            @media #{$bp-md} { @content; }
        }
        @else if $point == lg {
            @media #{$bp-lg} { @content; }
        }
        @else if $point == xl {
            @media #{$bp-xl} { @content; }
        }
    }
}

$MQs: true;

@mixin bpm($point) {
    @if ($MQs) {
        $bp-sm: "(max-width: #{$screen-sm})";
        $bp-md: "(max-width: #{$screen-md})";
        $bp-lg: "(max-width: #{$screen-lg})";
        $bp-xl: "(max-width: #{$screen-xl})";

        @if $point == sm {
            @media #{$bp-sm} { @content; }
        }
        @else if $point == md {
            @media #{$bp-md} { @content; }
        }
        @else if $point == lg {
            @media #{$bp-lg} { @content; }
        }
        @else if $point == xl {
            @media #{$bp-xl} { @content; }
        }
    }
}
