


// ----
// ---- Colors
// ----


$blue: 				#79A7C4;
$l-teal: 			desaturate(#BDF2E3, 10%);
$green: 			#72CA8A;
$l-green: 			#D9F2A2;

$grey: 				#9E9E9E;
$dark-grey: 		#3e3739;

$dark-blue: 		#237fa9;
$light-blue: 		#86b2c6;

$white: 			#ffffff;
$white-alt:  		#f4f7f9;

$l-teal: 			desaturate(#BDF2E3, 10%);
$l-yellow: 			#F8EDA9;
$yellow: 			darken($l-yellow, 10%);

$pink: 				#D68F8A;
$red: 				#A54635;

$dark-grey: 		#1B1B1B;

// ----
// ---- Semantic color variable names
// ----


// Color Scheme
$color-accent-vlight:	$white-alt;
$color-accent-light:	lighten($grey, 25%);
$color-accent-med:		$red;
$color-accent-dark:		#1B1B1B;

// Alerts
$color-alert-danger: 	darken($pink, 20%);
$color-alert-warning: 	$yellow;
$color-alert-info: 		$blue;
$color-alert-success: 	$green;

// Text colors
$color-text-dark: 		#1B1B1B;
$color-text-med: 		   darken($grey, 10%);
$color-text-light: 		lighten($color-text-med, 20%);
$color-text-vlight: 	$white;

// Links
$color-link:			     $color-accent-med;
$color-link-hover: 		darken($color-link, 20%);
$color-link-active: 	darken($color-link, 40%);

// Body
$color-body-bkgd: 		$white;
$color-body-text: 		$color-text-dark;
$color-body-contain: 	$white;

$color-rotate-bkgd-lighter: 		#262B3A;
$color-rotate-bkgd:     #1D1F2D;
$color-rotate-text: 		$color-text-vlight;
$color-rotate-link: 		#FFD400;
$color-rotate-btn:      #0333CC;


// Social
$color-twitter: 	#55ACEE;
$color-facebook: 	#3F5D9A;
$color-linkedin: 	#127FBA;





// ----
// ---- Size Scale
// ----

// Rem Unit Scale

$size-contain-lg: 	110%;
$size-contain-md: 	100%;
$size-contain-sm: 	93%;
$size-contain-base: 93%;

$size-base:  		1.1rem;

$size-xsml: 		$size-base*0.6;
$size-sml:  		$size-base*0.7;

$size-h1:  			$size-base*3.5;
$size-h2:  			$size-base*2.3;
$size-h3:  			$size-base*1.8;
$size-h4:  			$size-base*1.3;
$size-h5:  			$size-base*1.1;
$size-h6:  			$size-base;



// ----
// ---- Typography
// ----

$serif:				'chaparral-pro', serif;
$sans-serif:		'proxima-nova', sans-serif;
$special: 			'bebas-neue', Impact, sans-serif;

$serif-fallback: 		'Georgia', serif;
$sans-serif-fallback: 	'Helvetica', sans-serif;


$line-height-base: 	1.3;
$line-height-sm: 	0.9;

$font-heading: 		$sans-serif;
$font-headline: 	$special;
$font-body: 		$sans-serif;
$font-nav: 			$sans-serif;
$font-form: 		$sans-serif;
$font-lead: 		$sans-serif;
$font-quote: 		$sans-serif;

$font-heading-fallback: $sans-serif-fallback;
$font-body-fallback: 	$sans-serif-fallback;

$font-weight-heading: 	700;
$font-weight-base: 		500;
$font-weight-base-fallback: 300;
$font-weight-strong: 	700;




// ----
// ---- Utilities
// ----

$border-accent:         1px dotted $color-accent-med;
$border-accent-light: 	1px solid $color-accent-light;
$border-form:	 	        1px solid $color-accent-med;
$border-alert:          3px solid $color-alert-success;
$border-quote: 		      3px solid $color-accent-med;

// Z-Index Scale
$z-base: 			1;
$z-back: 			$z-base+1;
$z-mid: 			$z-base+2;
$z-top:       $z-base+3;
$z-tiptop: 		$z-base+4;




// ----
// ---- Screen Sizes
// ----

$screen-sm:     528px;
$screen-md:     768px;
$screen-lg:     1000px;
$screen-xl:     1120px;

$gutter:        $size-base;
