{% extends "base.twig" %}

{% block before_content %}
  {% include 'headers/_header-single.twig' with { class : 'header header--single' } %}
{% endblock %}

{% block content %}
  <section class="site__main__content">
  	{% for block in post.get_field('blocks') %}
  		{% include 'blocks/block-logic.twig' %}
  	{% endfor %}
  </section>
{% endblock %}

{% block after_content %}
	{% if post.show_in_feed != '0' %}
		{% include 'footers/_footer-single.twig' with { class : 'footer footer--single contain--xl' } %}
	{% endif %}
{% endblock %}
