{% extends "base.twig" %}
{% block content %}
  <br>
  <br>
  <br>
  <div class="contain--sm">
  	<form class="password-form" action="/wp-login.php?action=postpass" method="post">
      	<label for="pwbox-{{post.ID}}">Password:</label>
      	<input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
      	<input class="btn btn--readmore" type="submit" name="Submit" value="Submit" />
     	</form>
    </div>
{% endblock %}
