{% extends "base.twig" %}

{% block before_content %}
	{% include 'headers/_header-home.twig' with { class: 'header header--home', role: 'banner' } %}
{% endblock %}

{% block content %}
	{% if post.summary_title and post.summary %}
		<div class="block contain--sm">
			<h2>{{post.summary_title}}</h2>
			<p class="lead">{{post.summary}}</p>
		</div>
	{% endif %}

	<header class="text-center">
		<h6 class="meta--upper">Browse Categories</h6>
		{# <br> #}
		{% for c in cats %}
			{% if c != "Hidden" and c != "Uncategorized" %}
				<a class="cat-filter tease--categories__link{{c.title == 'Featured' ? ' selected'}}" title="{{c.slug}}" href="{{c.link}}">{{c.title}}</a>
			{% endif %}
		{% endfor %}
	</header>
	<section class="contain--lg">
		<div class="filtered-posts">
			{% for post in selected_chapters|slice(0,10) %}
				{% include 'teases/_tease-chapter.twig' %}
			{% endfor %}
		</div>
		<div class="chapters-loading">
			<img src="{{site.theme.link}}/assets/img/svg-raw/loader.svg">
		</div>
	</section>

{# 	{% for block in post.get_field('blocks') %}
		{% include 'blocks/block-logic.twig' %}
	{% endfor %}
 #}
{% endblock %}
