{% extends 'footers/footer.twig' %}

{% block footer_content %}
	
	{% if post.chapter_credits %}
		<div class="footer--single__credits contain--sm">
			<h4>{{post.credit_section_title ? post.credit_section_title : 'Credits'}}</h4>
			<ul class="footer--single__credits__list">
				{% for credit in post.get_field('chapter_credits') %}
					<li>
						<p class="footer--single__credits__main">{{credit.credit_main}}</p>
						<div class="footer--single__credits__desc">
							{{credit.credit_description ? credit.credit_description}}
						</div>
					</li>	
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{% include 'utility/chapter-thumb-loop.twig' %}

{% endblock %}