{% extends 'footers/footer.twig' %}

{% block footer_class %}site grid{% endblock %}

{% block footer_content %}

	<div class="footer--site__nav--backtop">
		<a href="#pageTop">
			{% include 'utility/svg.twig' with { prefix: 'icon', file: 'arrow-up' } %}
		</a>
	</div>

  <div class="footer--site__wrap contain--xl">
    <div class="footer--site__cell footer--site__cell__img">
      <img src="{{TimberImage(logo_right).src}}" alt="Logo">
    </div>
    <section class="footer--site__cell">
      <h6 class="footer--site__cell__title">Connect With Us</h6>
      <ul class="footer--site__social">
        <li class="footer--site__social__item">
          <a href="http://facebook.com/TheWeatherChannel" target="blank">{% include 'utility/svg.twig' with { file: 'facebook',  prefix: 'icon' } %}</a>
        </li>
        <li class="footer--site__social__item">
          <a href="https://twitter.com/weatherchannel" target="blank">{% include 'utility/svg.twig' with { file: 'twitter',  prefix: 'icon' } %}</a>
        </li>
        <li class="footer--site__social__item">
          <a href="http://youtube.com/user/TheWeatherChannel" target="blank">{% include 'utility/svg.twig' with { file: 'youtube',  prefix: 'icon' } %}</a>
        </li>
        <li class="footer--site__social__item">
          <a href="https://plus.google.com/+TheWeatherChannel/posts" target="blank">{% include 'utility/svg.twig' with { file: 'google-plus',  prefix: 'icon' } %}</a>
        </li>
        <li class="footer--site__social__item">
          <a href="https://instagram.com/weatherchannel" target="blank">{% include 'utility/svg.twig' with { file: 'instagram',  prefix: 'icon' } %}</a>
        </li>
      </ul>
    </section>

    <section class="footer--site__cell">
        <h6 class="footer--site__cell__title">Explore</h6>
        <nav class="footer--site__menu footer--site__menu--main">
          <ul class="footer--site__menu__items">
           {#  {% if footer_menu_main.items %}
              {% for item in footer_menu_main.items %}
                <li class="footer--site__menu__item">
                  <a href="{{item.link}}" class="footer__nav--main">{{item.title}}</a>
                </li>
              {% endfor %}
            {% else %} #}
                <li class="footer--site__menu__item">
                  <a href="http://weather.com" target="blank">The Weather Channel</a>
                </li>
                <li class="footer--site__menu__item">
                  <a href="http://ibm.biz/BdH3av" target="blank">Careers</a>
                </li>
                <li class="footer--site__menu__item">
                  <a href="http://press.weather.com/" target="blank">Press Room</a>
                </li>
                <li class="footer--site__menu__item">
                  <a href="http://advertising.weather.com/contact/" target="blank">Advertise With Us</a>
                </li>

{#
                {% if c != "Hidden" and c != "Uncategorized" %}
                  {% for c in cats|slice(0,3) %}
                    <li class="footer--site__menu__item">
                      <a href="{{c.link}}">{{c.title}}</a>
                    </li>
                  {% endfor %}
                {% endif %} #}
            {# {% endif %} #}
          </ul>
        </nav>
    </section>

    <section class="footer--site__cell">
      <h6 class="footer--site__cell__title">Download Our Apps</h6>
      <ul class="footer--site__social">
        <li class="footer--site__social__item">
          <a href="https://itunes.apple.com/us/app/id295646461" target="blank">{% include 'utility/svg.twig' with { file: 'app-store',  prefix: 'icon' } %}</a>
        </li>
        <li class="footer--site__social__item">
          <a href="http://c00.adobe.com/9933ac58-35d5-41b5-80a8-93f2a0ff4ca1/webfooterA/g/com.weather.Weather" target="blank">{% include 'utility/svg.twig' with { file: 'play-store',  prefix: 'icon' } %}</a>
        </li>
        <li class="footer--site__social__item">
          <a href="https://www.microsoft.com/en-us/store/apps/the-weather-channel/9wzdncrfhwsd" target="blank">{% include 'utility/svg.twig' with { file: 'windows',  prefix: 'icon' } %}</a>
        </li>
      </ul>
    </section>
  </div>



	{% include 'site-options/site-colophon.twig' %}

{% endblock %}
