.footer--site {
	background-color: $color-rotate-bkgd-lighter;
	color: lighten($color-rotate-btn, 25%);
  padding-top: $size-base;
  padding-bottom: $size-sml;

	&__wrap {
		@include grid($guttered: false);
	}

	&__social {
		@include horizontal-list($padding: $size-base);
		@include unstyle-list;

		@include grid;
		@include bpm(sm) {
			align-items: center;
			justify-content: center;
		}

		.icon {
			width: $size-h2;
			height: $size-h2;

			@include bp(md) {
				width: $size-h3;
				height: $size-h3;
			}

			@include bp(lg) {
				width: $size-h4;
				height: $size-h4;
			}

			fill: lighten($color-rotate-btn, 25%);
			background-color: transparent;
			padding: 0;

			&:hover {
				fill: $color-text-light;
			}
		}

		&__item {
			@include bp(lg) {
				padding-top: $size-sml;
			}
		}
	}

	&__nav--backtop a {
		display: none;
		position: fixed;
		bottom: $size-sml;
		right: $size-sml;
		background-color: rgba($white, 0.8);
		border-radius: 3px;
		border: 1px solid rgba($color-accent-light, 0.5);
		padding: $size-xsml;

		.icon {
			@include icon($color-body-text);
		}

		@include bp(md) {
			&:hover {
				background-color: rgba(darken($white, 10%), 0.8);
			}
			&:active {
				background-color: rgba(darken($white, 20%), 0.8);
			}
		}
	}

	&__cell {
		@include cell(full);
		@include bp(md) {
			@include cell(half, $is_first: false);
		}
		@include bp(lg) {
			@include cell(fourth, $is_first: false);
		}
	}

	&__cell__title {
		font-family: $special;
		margin-top: $size-h4;
		letter-spacing: 1px;
		font-weight: $font-weight-strong;

		@include bpm(sm) {
			text-align: center;
		}

	}

	&__colophon {
		margin-top: $size-h3;
		@include meta($color: $color-text-vlight);
	}

}


.footer--site {
	&__cell__img {
		@include grid($guttered: false);
		@include bpm(sm) {
			justify-content: center;
		}

		@include bp(lg) {
			justify-content: center;
		}

		img {
			max-width: 100px;
			align-self: center;
		}
	}

  &__menu {
    &__items {
      @include unstyle-list;
      // @include horizontal-list($padding: $size-sml);
      @include bpm(sm) {
	      text-align: center;
      }
    }

    &__item a {
      color: lighten($color-rotate-btn, 25%);
      @include upperspace;
      font-size: $size-sml;

      &:hover {
        color: $color-text-light;
      }
    }
  }
}
